.main__logo {
    position: relative;
    display: flex;    
    
    &__title {
        color: $color3;
        margin-top: 10rem;
        background: $color2;
        font-size: 150px;
        padding: 20px;
        cursor: default;

        & span {
            color: $color1;
        }
    }
    &__symbol {
        font-size: 40px;
        color: $color3;
        height: 55px;
        width: 55px;
        text-align: center;
        bottom: 342px;
        left: 826px;
        position: relative;
        border: 2px solid $color3;
        border-radius: 50%;
        opacity: .7;
        outline: 0;
        background: none;
        transition: .4s;
        cursor: pointer;
        font-weight: 700;
    }

    &__symbol:hover {
        opacity: 1;
    }

    &__text {
        position: absolute;
        bottom: 69%;
        left: 19%;
        font-size: 30px;
        font-weight: 500;
        display: flex;
        cursor: default;
     }
}
