footer {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: flex-start;
    border: 2px solid $c2;
    border-radius: 10px;

    & p {
      padding: 0 20px;
      font-weight: 700;
      font-size: 1.7rem;
    }
  
    & .instagram {
      width: 30px;
      height: 30px;
      background: url("../images/instagram.png");
      background-size: cover;
      display: flex;
      margin: 5px 20px;
    }
    & .facebook {
      width: 30px;
      height: 30px;
      background: url("../images/facebook.png");
      background-size: cover;
      display: flex;
      margin: 5px 20px;
    }
  }