.game {
  text-align: center;
  background: $c2;
  padding-bottom: 40px;

  &__container {
    display: block;
    justify-content: center;
    width: 100%;
  }

  &__header {
    font-size: 5em;
    letter-spacing: 15px;
    font-weight: 700;
    padding: 10px;
    color: white;
  }

  &__status {
    padding: 0 20px 20px 20px;
    font-size: 25px;
    color: $c3;
  }

  &__congrats{
      font-size: 20px;
      color: $c3;
  }

  &__result{
      font-size: 20px;
      color: $c3;
  }

  &__button{
      background: $c1;
      border-radius: 10px;
      padding: 5px;
      font-size: 25px;
      border: none;
      color: $c2;
  }
  &__button:hover{
    background: $c1;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    border: none;
    color: $c3;
    transform: scale(1.1);
    transition: .3s;
}
}

.Game-intro {
  font-size: large;
}

.card {
  display: inline-block;
  border-color: $c3;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 160px;

  &__container {
    display: inline-block;
  }
}

.matched {
  border-color: $c1;
}
