.page__header {
    background: none;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.page__nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ffffff50;


    & a {
    font-weight: bold;
    text-transform: uppercase;
    color: $color3;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    transition: .4s;
    position: relative;
    }
}

.page__nav__list a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 3px;
    background: $color3;
    transition: .4s
}

.page__nav__list a:hover {
    color: $color3;
}

.page__nav__list a:hover:after {
    left: 0;
    right: 0;
}

.page__logo__link{
    margin-left: 100px;
    text-decoration: none;
    background: $color2;
    display: block;
    padding: 50px 5px 20px 5px;
    color: $color3;
    font-size: 40px;
}