.page__header {
  background: none;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
}

.page__nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  border-bottom: 1px solid #ffffff50;

  & a {
    font-weight: bold;
    text-transform: uppercase;
    color: $c3;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    transition: 0.4s;
    position: relative;
  }
}

.page__nav__list a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
  background: $c3;
  transition: 0.4s;
}

.page__nav__list a:hover {
  color: $c3;
}

.page__nav__list a:hover:after {
  left: 0;
  right: 0;
}

.page__logo {
  text-decoration: none;
  &__link {
    margin-left: 100px;
    text-decoration: none;
    background: $c2;
    display: block;
    padding: 50px 5px 20px 5px;
    color: $c3;
    font-size: 40px;
    & span {
      text-decoration: none;
      color: $c3;
    }
  }
  &__link:hover {
    text-decoration: none;
    color: $c3;
  }
  
}
