.page__header {
  height: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
  @media #{$desktop} {
    display: block;
  }
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
}

.page__nav__list {
  background: rgba(23, 23, 20, 0.7);
  display: flex;
  border-bottom-left-radius: $br;
  border-top-left-radius: $br;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;

  & a {
    font-weight: bold;
    text-transform: uppercase;
    color: $c3;
    text-decoration: none;
    padding: 1rem 2.5rem;
    display: block;
    transition: 0.4s;
    position: relative;
  }
}

.page__nav__list a:after {
  content: "";
  position: absolute;
  bottom: 25%;
  border-radius: $br;
  left: 50%;
  right: 50%;
  height: .2rem;
  background: $c3;
  transition: 0.4s;
}

.page__nav__list a:hover {
  color: $c3;
}

.page__nav__list a:hover:after {
  left: 15%;
  right: 15%;
}

.page__logo {
  &__link {
    margin-left: 10rem;
    text-decoration: none;
    background: rgba(23, 23, 20, 0.7);
    display: block;
    padding: 4.6rem .5rem .5rem .5rem;
    border-bottom-left-radius: $br;
    border-bottom-right-radius: $br;
    color: $c3;
    font-size: 4rem;
    & span {
      text-decoration: none;
      color: $c3;
    }
  }
  &__link:hover,
  &__link:active,
  &__link:visited,
  &__link:focus {
    text-decoration: none;
    color: $c3;
  }
}
