@import "./game";

.container__fill__3 {
  background: rgba(23, 23, 20, 0.7);
  height: 750px;
}
.parallax__3 {
  background: url("../images/bg1.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  width: 100vw;
}
