.parallax__3 {
  background: url("../images/bg3.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 75rem;
  width: 100vw;
}

.button__click {
  font-size: 2rem;
  font-weight: 700;
  margin: 5px 0px 5px 5px;
  color: $c2;
  width: 3rem;
  height: 3rem;
  background: none;
  border-radius: 50%;
  border: 2px solid $c2;
}
.button__click:focus{
  outline: none;
}