.container__fill {
  background: $c2;
  height: 750px;

  & article {
    display: flex;
    justify-content: space-between;
    .img1 {
      width: 300px;
      height: 300px;
      background: url("../images/img1.jpg") no-repeat center;
      background-size: cover;
      margin: 10px;
      margin-top: 40px;
    }
    .img2 {
      width: 300px;
      height: 300px;
      background: url("../images/img2.jpg") no-repeat center;
      background-size: cover;
      margin: 10px;
      margin-top: 40px;
    }
    .img3 {
      width: 300px;
      height: 300px;
      background: url("../images/img3.jpg") no-repeat center;
      background-size: cover;
      margin: 10px;
      margin-top: 40px;
    }
    .img4 {
      width: 300px;
      height: 300px;
      background: url("../images/img4.jpg") no-repeat center;
      background-size: cover;
      margin: 10px;
      margin-top: 40px;
    }
    .img5 {
      width: 300px;
      height: 300px;
      background: url("../images/img5.jpg") no-repeat center;
      background-size: cover;
      margin: 10px;
      margin-top: 40px;
    }
  }
}

.article__img__title {
  position: relative;
  top: 8em;
  left: 0;
  min-width: 91%;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.slide-zone {
  display: flex;
  justify-content: space-between;
}

.slide-zone p {
  color: $c3;
  width: 70%;
  padding: 10px 30px;
  font-size: 18px;

  & span {
    color: $c1;
  }
}

.carousel {
  position: relative;
  width: 360px;
  height: 400px;
  margin-top: 10px;
}

.carousel-control.left {
  height: 400px;
}

.carousel-control.right {
  height: 400px;
}

.carousel-indicators{
  margin-bottom: 0;
}

.carousel-indicators li{
 background: $c1;
}
.carousel-indicators li.active{
  background: $c3;
 }
footer {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 10px;
  justify-content: flex-start;

  & .instagram {
    width: 30px;
    height: 30px;
    background: url("../images/instagram.png");
    background-size: cover;
    display: flex;
    margin-left: 20px;
  }
  & .facebook {
    width: 30px;
    height: 30px;
    background: url("../images/facebook.png");
    background-size: cover;
    display: flex;
    margin-left: 20px;
  }
}
