.about__container {
  display: flex;
  padding: $p1;
  justify-content: space-around;
  text-align: center;
  color: $c3;
  font-family: $f1;
  font-size: 1.6rem;
  background: $c2;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$desktop} {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  & img {
    height: 23rem;
    min-width: 23rem;
    padding-bottom: .5rem;
    border-radius: $br;
  }
  & p {
    font-size: 1.6rem;
    color: $c3;
    font-family: $f1;
    border: 1px solid $c1;
    border-radius: $br;
  }
  & a {
    color: $c1;
    font-weight: 700;
  }
}

.about {
  &__1,
  &__2,
  &__3 {
    @media #{$desktop} {
    width: 33.333%;
    margin: 0 1.5rem;
    }
  }
}
