.container__fill__1 {
    background: $c2;
    height: 750px;
}
.parallax__1 {
    background: url("../images/bg1.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 750px;
    width: 100vw;
  }