.form {
  display: flex;
  padding: 0 $p1;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$desktop} {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &__left {
    @media #{$desktop} {
      max-width: 50%;
    }
  }
  &__right {
    display: flex;
    @media #{$desktop} {
      display: block;
    }
  }

  & img {
    height: 12rem;
    width: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    @media #{$desktop} {
      height: 32rem;
      width: 32rem;
    }
  }

  &__row {
    margin-bottom: 2.5rem;

    & textarea {
      min-height: 8rem;
      resize: vertical;
      padding: 1rem;
      color: $c2;
      border-radius: $br;
      @media #{$tablet} {
        min-height: 9rem;
      }
      @media #{$desktop} {
        min-height: 11rem;
      }
    }
  }

  &__control {
    height: 3rem;
    width: 100%;
    border: 1px solid $c3;
    outline: none;
    font-size: 3.3rem;
    font-weight: 300;
    padding: 0 1rem;
    color: $c2;
    border-radius: $br;
    font-size: 1.3rem;
    @media #{$tablet} {
      height: 4rem;
      font-size: 1.7rem;
    }
    @media #{$desktop} {
      height: 5rem;
      font-size: 2.2rem;
    }
  }

  &__control:focus {
    border: 2px solid $c3;
  }

  &__control::placeholder {
    color: $c2;
  }

  &__checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    color: $c1;
    margin-top: 4rem;
    margin-left: 5rem;
    @media #{$tablet} {
      font-size: 1.5rem;
    }
    @media #{$desktop} {
      font-size: 2rem;
      margin-top: 0rem;
    margin-left: 0rem;
    }
    & input {
      width: 2.5rem;
      height: 2.5rem;
      background: $c3;
      appearance: none;
      outline: none;
      cursor: pointer;
      margin-right: 1rem;
      flex-shrink: 0;
      box-shadow: inset 0 0 0.5rem $c1;
      border-radius: 0.5rem;
      @media #{$tablet} {
        width: 3rem;
        height: 3rem;
      }
      @media #{$desktop} {
        width: 4rem;
        height: 4rem;
      }
    }

    & input:checked {
      background-repeat: no-repeat;
      background-size: auto 80%;
      background-position: center;
      background-image: url("../images/check.png");
    }
    & input:focus {
      outline: none;
    }
  }

  &__submit {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-top: 5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    border-radius: $br;
    background: none;
    border: 1px solid $c1;
    color: $c1;
    font-weight: 300;
    @media #{$tablet} {
      font-size: 1.5rem;
      margin-left: 2rem;
      margin-top: 4.5rem;
    }
    @media #{$desktop} {
      font-size: 2rem;
      padding: 1rem 2rem;
      border: 2px solid $c1;
      margin-left: 0;
      margin-top: 0;
    }
  }

  &__submit:focus {
    outline: 0;
  }

  &__submit:hover {
    border: 2px solid $c3;
    color: $c3;
    transition: 0.4s;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Customize the label (the container) */
.container__round {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $c3;
  font-family: $f1;
  font-weight: 500;
  @media #{$tablet} {
    font-size: 1.7rem;
  }
  @media #{$desktop} {
    font-size: 2rem;
  }
}

/* Hide the browser's default radio button */
.container__round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.7rem;
  width: 1.7rem;
  background-color: #eee;
  border-radius: 50%;
  @media #{$tablet} {
    height: 2.2rem;
    width: 2.2rem;
  }
  @media #{$desktop} {
    height: 2.4rem;
    width: 2.4rem;
  }
}

/* On mouse-over, add a grey background color */
.container__round:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container__round input:checked ~ .checkmark {
  background-color: $c1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container__round input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container__round .checkmark:after {
  top: 0.6rem;
  left: 0.6rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: $c2;
  @media #{$tablet} {
    top: 0.75rem;
    left: 0.75rem;
    height: 0.7rem;
    width: 0.7rem;
  }
  @media #{$desktop} {
    top: 0.8rem;
    left: 0.8rem;
    height: 0.8rem;
    width: 0.8rem;
  }
}
