.form {
  display: flex;
  padding:0 $p1;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$desktop} {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &__left {
    @media #{$desktop} {
    max-width: 50%;
  }
}

  & img {
    height: 32rem;
    width: 32rem;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
  }

  &__row {
    margin-bottom: 2.5rem;

    & textarea {
      min-height: 11rem;
      resize: vertical;
      padding: 1rem;
      color: $c2;
      border-radius: $br;
    }
  }

  &__control {
    height: 5rem;
    width: 100%;
    border: 1px solid $c3;
    outline: none;
    font-size: 3.3rem;
    font-weight: 300;
    padding: 0 1rem;
    color: $c2;
    border-radius: $br;
  }

  &__control:focus {
    border: 2px solid $c3;
  }

  &__control::placeholder {
    color: $c2;
  }

  &__checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    color: $c1;
    & input {
      width: 4.5rem;
      height: 4.5rem;
      background: $c3;
      appearance: none;
      outline: none;
      cursor: pointer;
      margin-right: 1rem;
      flex-shrink: 0;
      box-shadow: inset 0 0 .5rem $c1;
      border-radius: .5rem;
    }

    & input:checked {
      background-repeat: no-repeat;
      background-size: auto 80%;
      background-position: center;
      background-image: url("../images/check.png");
    }
    & input:focus {
      outline: none;
    }
  }

  &__submit {
    padding:1rem 2rem;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: $br;
    background: none;
    border: 2px solid $c1;
    color: $c1;
    font-weight: 300;
  }

  &__submit:focus {
    outline: 0;
  }

  &__submit:hover {
    border: 2px solid $c3;
    color: $c3;
    transition: 0.4s;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Customize the label (the container) */
.container__round {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $c3;
  font-family: $f1;
  & span {
    color: $c1;
  }
}

/* Hide the browser's default radio button */
.container__round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container__round:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container__round input:checked ~ .checkmark {
  background-color: $c1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container__round input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container__round .checkmark:after {
  top: .9rem;
  left: .9rem;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background: $c2;
}
