.main__zone {
  padding: $p1;
  &__price {
    color: $c3;
    padding: 13px;
    font-size: 2.5rem;
    font-family: $f1;
    text-align: center;
    background: rgba(90, 90, 90, 0.5);
    border-radius: $br;
    @media #{$tablet} {
      font-size: 3rem;
    }
    @media #{$desktop} {
      font-size: 4rem;
    }
  }
  &__1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media #{$desktop} {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    & img {
      min-width: 30rem;
      max-height: 25rem;
      border-radius: $br;
      @media #{$tablet} {
        min-width: 50rem;
        max-height: 30rem;
      }
    }
    &__text__1 {
      @media #{$desktop} {
        padding-left: $p1;
      }
      & h2 {
        font-size: 1.9rem;
        font-weight: 700;
        color: $c2;
        @media #{$tablet} {
          font-size: 3rem;
        }
      }
      & p {
        font-family: $f1;
        font-size: 1rem;
        color: $c2;
        @media #{$tablet} {
          font-size: 1.5rem;
        }
      }
    }
  }
  &__2 {
    margin-top: 5%;
  }
  &__2,
  &__3,
  &__4 {
    display: flex;
    text-align: center;
    margin-bottom: $p1;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.55);
    padding: $p1;
    border-radius: $br;
    & img {
      width: 5rem;
      height: 5rem;
      @media #{$tablet} {
        width: 7rem;
        height: 7rem;
      }
      @media #{$desktop} {
        width: 10rem;
        height: 10rem;
      }
    }
    & h2 {
      font-size: 1.5rem;
      font-family: $f1;
      color: $c2;
      @media #{$tablet} {
        font-size: 2rem;
      }
      @media #{$desktop} {
        font-size: 3.5rem;
      }
    }
    & p {
      font-size: .8rem;
      padding: $p1;
      font-family: $f1;
      color: $c2;
      @media #{$tablet} {
        font-size: 1rem;
      }
      @media #{$desktop} {
        font-size: 1.7rem;
      }
    }
  }
  &__2__text,
  &__3__text,
  &__4__text {
    & h2 {
      font-size: 1rem;
      font-weight: 700;
      @media #{$tablet} {
        font-size: 1.5rem;
      }
      @media #{$desktop} {
        font-size: 2rem;
      }
    }
  }
  &__3 {
    & button {
      font-size: .8rem;
      background: none;
      border: 1px solid $c2;
      border-radius: $br;
      @media #{$tablet} {
        font-size: 1.2rem;
        border: 1px solid $c2;
      }
      @media #{$desktop} {
        font-size: 2rem;
        border: 2px solid $c2;
      }
      & a {
        text-decoration: none;
        color: $c2;
      }
    }
    & button:hover {
      transform: scale(1.05);
      transition: 0.3s;
      background: $c1;
    }
  }
}
