.container__fill {
  background: $c2;
  height: 55rem;


  & article {
    display: flex;
    justify-content: space-between;

  & h2 {
    color: $c1;
    padding-left: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3em;
    font-weight: bold;
  }

    .img1 {
      min-width: 270px;
      height: 300px;
      margin: 15px 0px 5px 15px;
    }
    .img2 {
      min-width: 270px;
      height: 300px;
      margin: 15px 0px 5px 15px;
    }
    .img3 {
      min-width: 270px;
      height: 300px;
      margin: 15px 0px 5px 15px;
    }
    .img4 {
      width: 300px;
      height: 300px;
      margin: 15px 15px 5px 15px;
    }
  }
}

.article__img__title__1 {
  position: absolute;
  left: 18.5rem;
  top: 34.5%;
  min-width: 270px;
  padding: 30px 2px;
  color: $c3;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-align: center;
}

.article__img__title__2 {
  position: absolute;
  left: 47.8rem;
  top:34.5%;
  min-width: 300px;
  padding: 30px 2px;
  color: $c3;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-align: center;
}

.article__img__title__3 {
  position: absolute;
  left: 80.2rem;
  top:34.5%;
  min-width: 300px;
  padding: 30px 2px;
  color: $c3;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-align: center;
}

.article__img__title__4 {
  position: absolute;
  left: 112.5rem;
  top:34.5%;
  min-width: 300px;
  padding: 30px 2px;
  color: $c3;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-align: center;
}