.container__fill {
  & article {
    display: flex;
    background: $c2;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: $p1;

    @media #{$desktop} {
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    & h2 {
      color: $c1;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .4rem;
      font-size: 5rem;
      font-weight: bold;
    }

    .img1,
    .img2,
    .img3,
    .img4 {
      min-width: 27rem;
      height: 30rem;
      border-radius: $br;
      @media #{$desktop} {
        border-radius: 0;
        border-top-left-radius: $br;
        border-top-right-radius: $br;
      }
    }
  }
}

.article__img__title__1,
.article__img__title__2,
.article__img__title__3,
.article__img__title__4 {
  padding: 3rem 0;
  margin: 0;
  color: $c3;
  background: rgba(255, 255, 255, 0.3);
  border-radius: $br;
  text-align: center;
  margin: $p1 0;
  @media #{$desktop} {
    border-radius: 0;
    margin: 0;
    border-bottom-left-radius: $br;
    border-bottom-right-radius: $br;
    border-top: 1rem solid $c3;
  }
}
