.main__logo {
  position: relative;
  display: flex;
}

.container {
  width: 100vw;
  padding: 0;
}

.parallax {
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  width: 100vw;
}

// .big__circle {
//   position: absolute;
//   top: 57%;
//   left: 60%;
//   box-sizing: border-box;
//   width: 35rem;
//   height: 35rem;
//   background: none;
//   border: 20px solid #e6833c;
//   border-radius: 50%;
// }

// .small__circle {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   box-sizing: border-box;
//   width: 25rem;
//   height: 25rem;
//   background: none;
//   border: 20px solid #e6833c;
//   border-radius: 50%;
// }
