.main__logo {
  position: relative;
  display: flex;
}

.container {
  width: 100vw;
  padding: 0;
}

.parallax {
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 75rem;
  width: 100vw;
}
