@import "./base/variables";
@import "./base/normalize";
// @import "./base/grid";

@import "./components/header";
@import "./components/footer";

@import "./partials/mainPage/logo";
@import "./partials/mainPage/fill";

@import "./partials/about/logo";
@import "./partials/about/fill";

@import "./partials/lessons/logo";


@import url('https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,300,400,500,600,700,800');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $c1;
  font-family: 'KoHo', sans-serif;

}
