.container__fill__2 {
  background: $c2;
  height: 140rem;
}

.parallax__2 {
  background: url("../images/bg2.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  width: 100vw;
}
