.parallax__2 {
  background: url("../images/bglesson.png") no-repeat center;
  background-size: contain;
  background-attachment: fixed;
  height: 75rem;
  width: 100vw;
}

.container__fill__2 {
  background: $c2;
}
