.tags__zone {
  padding: $p1;
  text-align: center;
  & h2 {
    font-weight: bold;
    font-family: $f1;
    font-size: 2rem;
    color: $c2;
  }
  & p {
    font-family: $f1;
    font-size: 1.3rem;
    color: $c2;
    padding: 0 10px;
  }
}

.tags__zone__1,
.tags__zone__2,
.tags__zone__3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
  &__box__1,
  &__box__2,
  &__box__3 {
    width: 30%;
    border: 1px solid $c2;
    border-radius: 25px;
    background: $c1;
  }
}

.tags__zone__3 {
  justify-content: center;
}

.text__zone {
  margin: 15px;
  & h2 {
    font-weight: bold;
    font-family: $f1;
    text-align: center;
    color: $c1;
    font-size: 2rem;
    & span {
      font-size: 3rem;
    }
  }
}
